
<div
class="modal"
tabindex="-1"
role="dialog"
[ngStyle]="{'display':displayStyle}">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">User detials</h4>
    </div>
    <div class="modal-body">
      <p>Name: {{name}}</p>
      <p>Phone: {{phone_number}}</p>
      <p>Address:{{address}} </p>
      <p>Country Code: {{country}}</p>
      <p>State: {{state}}</p>
      <p>gender: {{gender}}</p>


    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" 
              (click)="closePopup()">
        Close
      </button>
    </div>
  </div>
</div>
</div>

